registry = "http://npm.sys.dom:81/npm/NPM3rdParty/"
@saxo:registry = "http://npm.sys.dom:81/npm/NPMSaxo-Release/"
disturl = "http://devgoweb1-dk1:8181/node"
# the npm proget server does not support security audit  
audit=false  
