<% include header.html %>


  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Saxo bank</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/auth/provider"><%=user.name%></a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Saxo Identifier</th>
              <th>Symbol</th>
              <th>AssetType</th>
              <th>CurrencyCode</th>
              <th>Description</th>
              <th>ExchangeId</th>
            </tr>
          </thead>
          <tbody>
              <% users.forEach(function(dataItem){ %>
                <tr>
                  <td> <%= dataItem.Identifier %></td>
                  <td> <%= dataItem.Symbol %></td>
                  <td> <%= dataItem.AssetType %></td>
                  <td> <%= dataItem.CurrencyCode %></td>
                  <td> <%= dataItem.Description %></td>
                  <td> <%= dataItem.ExchangeId %></td>
                  </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<% include footer.html %>

<!--
"Data": [
{
  "AssetType": "Stock",
  "CurrencyCode": "SEK",
  "Description": "ABB Ltd",
  "ExchangeId": "SSE",
  "GroupId": 2,
  "Identifier": 101,
  "PrimaryListing": 12857,
  "SummaryType": "Instrument",
  "Symbol": "ABB:xome",
  "TradableAs": [
    "Stock"
  ]
},
-->